python/__pycache__/
/cshape/.vs/DesignPatterns
/cshape/DependencyInversion/bin/Debug/netcoreapp2.1
/cshape/DependencyInversion/obj
/cshape/Singleton/bin/Debug/netcoreapp2.1
/cshape/Singleton/obj/Debug/netcoreapp2.1
/cshape/Singleton/obj
